name: scheduled-job

on:
  push:
    branches: 
      - main
  schedule:
    - cron: "0 5 * * *"   # Runs every day at 00:00 UTC
  workflow_dispatch:       # Allows manual trigger

jobs:
  run-task:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Print formatted time
        run: date +"%Y-%m-%d %H:%M:%S"

